<div class="plan-container">
    <div>
        <label>Max monthly payment</label>
        <div>{{max_monthly_payment}}</div>
    </div>
    <div>
        <label>Total interest</label>
        <div>{{total_interest}}</div>
    </div>
</div>